# Server Configuration
PORT=5002
NODE_ENV=development

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=reservation_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Service URLs
TICKET_SERVICE_URL=http://ticket-service:5003
AUTH_SERVICE_URL=http://auth-service:5000