# Server Configuration
PORT=5003
NODE_ENV=development

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticket_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key

# Service URLs
AUTH_SERVICE_URL=http://auth-service:5000